In [1]:
import pandas as pd

# Suponiendo que el archivo se llama "datos.txt"
with open("rawdata/items.txt", "r", encoding="latin-1") as file:
    # Leemos todas las líneas del archivo
    lines = file.readlines()

# Limpiamos las líneas (removemos saltos de línea)
lines = [line.strip() for line in lines]

# Dividimos las líneas en grupos de 3
data = []
for i in range(0, len(lines), 3):
    id_item = lines[i]
    nombre_item = lines[i+1]
    count = lines[i+2]
    data.append([id_item, nombre_item, count])

# Convertimos a DataFrame
items = pd.DataFrame(data, columns=['id_item', 'nombre_item', 'count'])
items

    id_item                             nombre_item count
0     17365      Casa de las Rocas-Museo del Corpus    11
1     17366                    Casa-Museo Benlliure    11
2     17367                Casa-Museo Blasco Ibañez    11
3     17369       Centro cultural Fundación Bancaja    30
4     17371                  Centro del Carmen-IVAM    26
..      ...                                     ...   ...
145   18002                        Barrio de Ruzafa     0
146   18003                             La Albufera     0
147   18004                      Barrio del Cabañal     0
148   18005                          Museo Iluziona     0
149   18006  L'ETNO - Museo Valenciado de Etnología     0

[150 rows x 3 columns]

In [2]:
import pandas as pd

# Suponiendo que el archivo se llama "datos.txt"
with open("rawdata/clasificacion_items.txt", "r", encoding="latin-1") as file:
    # Leemos todas las líneas del archivo
    lines = file.readlines()

# Limpiamos las líneas (removemos saltos de línea)
lines = [line.strip() for line in lines]

# Dividimos las líneas en grupos de 3
data = []
for i in range(0, len(lines), 3):
    id_item = lines[i]
    nombre_item = lines[i+1]
    count = lines[i+2]
    data.append([id_item, nombre_item, count])

# Convertimos a DataFrame
class_items = pd.DataFrame(data, columns=['id_item', 'id_categoria', 'adec'])
class_items

    id_item id_categoria adec
0     17365           65   61
1     17365           68   67
2     17366           62   78
3     17366           68   75
4     17367           26   20
..      ...          ...  ...
378   18004          115   80
379   18005           68   80
380   18005           14   80
381   18006           68   80
382   18006           14   60

[383 rows x 3 columns]

In [3]:
items_merged = pd.merge(items, class_items, on='id_item', how='inner')
items_merged

    id_item                             nombre_item count id_categoria adec
0     17365      Casa de las Rocas-Museo del Corpus    11           65   61
1     17365      Casa de las Rocas-Museo del Corpus    11           68   67
2     17366                    Casa-Museo Benlliure    11           62   78
3     17366                    Casa-Museo Benlliure    11           68   75
4     17367                Casa-Museo Blasco Ibañez    11           26   20
..      ...                                     ...   ...          ...  ...
378   18004                      Barrio del Cabañal     0          115   80
379   18005                          Museo Iluziona     0           68   80
380   18005                          Museo Iluziona     0           14   80
381   18006  L'ETNO - Museo Valenciado de Etnología     0           68   80
382   18006  L'ETNO - Museo Valenciado de Etnología     0           14   60

[383 rows x 5 columns]

In [4]:
import pandas as pd

# Suponiendo que el archivo se llama "datos.txt"
with open("rawdata/preferencias.txt", "r", encoding="latin-1") as file:
    # Leemos todas las líneas del archivo
    lines = file.readlines()

# Limpiamos las líneas (removemos saltos de línea)
lines = [line.strip() for line in lines]

# Dividimos las líneas en grupos de 3
data = []
for i in range(0, len(lines), 3):
    id_item = lines[i]
    nombre_item = lines[i+1]
    count = lines[i+2]
    data.append([id_item, nombre_item, count])

# Convertimos a DataFrame
preferencias = pd.DataFrame(data, columns=['id_categoria', 'categoria', 'padre'])
preferencias

    id_categoria                     categoria padre
0              1            Estilos y periodos     0
1              2                       Compras     0
2              3                        Museos     0
3              4             Espacios Abiertos     0
4              5        Arquitectura religiosa     0
..           ...                           ...   ...
110          111  Otras arquitectura religiosa     5
111          112                 Otros eventos    13
112          113             Otros gastronomía     8
113          114                    Otros ocio    11
114          115                 Otros estilos     1

[115 rows x 3 columns]

In [5]:
items_merged2 = pd.merge(items_merged, preferencias, on='id_categoria', how='inner')
items_merged2 = items_merged2.rename(columns={"padre": "id_padre"})
items_merged2

,id_item,nombre_item,count,id_categoria,adec,categoria,id_padre
0,17365,Casa de las Rocas-Museo del Corpus,11,65,61,Religión,3
1,17365,Casa de las Rocas-Museo del Corpus,11,68,67,Historia y cultura local,3
2,17366,Casa-Museo Benlliure,11,62,78,Arte,3
3,17366,Casa-Museo Benlliure,11,68,75,Historia y cultura local,3
4,17367,Casa-Museo Blasco Ibañez,11,26,20,Modernista,1
...,...,...,...,...,...,...,...
378,18004,Barrio del Cabañal,0,115,80,Otros estilos,1
379,18005,Museo Iluziona,0,68,80,Historia y cultura local,3
380,18005,Museo Iluziona,0,14,80,Niños,0
381,18006,L'ETNO - Museo Valenciado de Etnología,0,68,80,Historia y cultura local,3
382,18006,L'ETNO - Museo Valenciado de Etnología,0,14,60,Niños,0

In [6]:
preferencias_padre = preferencias.rename(columns={"id_categoria": "id_padre", "categoria": "padre_categoria"})
preferencias_padre

    id_padre               padre_categoria padre
0          1            Estilos y periodos     0
1          2                       Compras     0
2          3                        Museos     0
3          4             Espacios Abiertos     0
4          5        Arquitectura religiosa     0
..       ...                           ...   ...
110      111  Otras arquitectura religiosa     5
111      112                 Otros eventos    13
112      113             Otros gastronomía     8
113      114                    Otros ocio    11
114      115                 Otros estilos     1

[115 rows x 3 columns]

In [7]:
items_final = pd.merge(items_merged2, preferencias_padre, on='id_padre', how='inner')
items_final

,id_item,nombre_item,count,id_categoria,adec,categoria,id_padre,padre_categoria,padre
0,17365,Casa de las Rocas-Museo del Corpus,11,65,61,Religión,3,Museos,0
1,17365,Casa de las Rocas-Museo del Corpus,11,68,67,Historia y cultura local,3,Museos,0
2,17366,Casa-Museo Benlliure,11,62,78,Arte,3,Museos,0
3,17366,Casa-Museo Benlliure,11,68,75,Historia y cultura local,3,Museos,0
4,17367,Casa-Museo Blasco Ibañez,11,26,20,Modernista,1,Estilos y periodos,0
...,...,...,...,...,...,...,...,...,...
356,18004,Barrio del Cabañal,0,41,80,Bares y pubs,11,Ocio,0
357,18004,Barrio del Cabañal,0,48,50,Tiendas tradicionales,2,Compras,0
358,18004,Barrio del Cabañal,0,115,80,Otros estilos,1,Estilos y periodos,0
359,18005,Museo Iluziona,0,68,80,Historia y cultura local,3,Museos,0
360,18006,L'ETNO - Museo Valenciado de Etnología,0,68,80,Historia y cultura local,3,Museos,0

In [8]:
preferencias_padre.to_csv('data/items.csv', index=False)