# Data preparation

In [1]:
#!pip install -q geopy
#!pip install -q deep_translator

In [1]:
import pandas as pd

## 1. Items (`items.csv`)

In [2]:
with open("rawdata/items.txt", "r", encoding="latin-1") as file:
    lines = file.readlines()

lines = [line.strip() for line in lines]

#coger las filas del txt de 3 en 3
data = []
for i in range(0, len(lines), 3):
    id_item = lines[i]
    nombre_item = lines[i+1]
    count = lines[i+2]
    data.append([id_item, nombre_item, count])

items = pd.DataFrame(data, columns=['id_item', 'nombre_item', 'count'])
items

    id_item                             nombre_item count
0     17365      Casa de las Rocas-Museo del Corpus    11
1     17366                    Casa-Museo Benlliure    11
2     17367                Casa-Museo Blasco Ibañez    11
3     17369       Centro cultural Fundación Bancaja    30
4     17371                  Centro del Carmen-IVAM    26
..      ...                                     ...   ...
145   18002                        Barrio de Ruzafa     0
146   18003                             La Albufera     0
147   18004                      Barrio del Cabañal     0
148   18005                          Museo Iluziona     0
149   18006  L'ETNO - Museo Valenciado de Etnología     0

[150 rows x 3 columns]

### Add longitude and latitude

In [3]:
import pandas as pd
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut
from deep_translator import GoogleTranslator

geolocator = Nominatim(user_agent="your_unique_user_agent")

def get_coordinates(place):
    try:
        location = geolocator.geocode(f"{place}, Valencia, Comarca de València, España", timeout=20)
        if location:
            return pd.Series([location.latitude, location.longitude])
        else:
            place_valenciano = GoogleTranslator(source="es", target="ca").translate(place)
            location = geolocator.geocode(f"{place_valenciano}, Valencia, Comarca de València, España", timeout=10)
            
            if location:
                return pd.Series([location.latitude, location.longitude])
            else:
                if place == "Museo de historia de Valencia": return pd.Series([39.472502018282526, -0.40842270361313004])
                elif place == "Biblioteca": return pd.Series([39.47012830941325, -0.38191031347773546])
                elif place == "Reales Atarazanas": return pd.Series([39.461211230946454, -0.3333335447182755])
                elif place == "Iglesia Santos Juanes": return pd.Series([39.474212060334715, -0.37952946558594475])
                elif place == "Puerto": return pd.Series([39.44827217147284, -0.3169480823984605])
                elif place == "Casa del Dragón": return pd.Series([39.470198745329334, -0.3698432498696374])
                elif place == "Iglesia de San Agustín": return pd.Series([39.468682483385805, -0.3800515269269744])
                elif place == "Barrio del Carmen": return pd.Series([39.47884429391109, -0.379883679706167])
                elif place == "Centro cultural Fundación Bancaja": return pd.Series([39.4737548616517, -0.37015740361308525])
                elif place == "Centro del Carmen-IVAM": return pd.Series([39.47976316813503, -0.3790205833491236])
                elif place == "Centro Julio Gonzalez-IVAM": return pd.Series([39.47964886611254, -0.38295116377254])
                elif place == "Museo de Cerámica (Palacio Marqués de Dos Aguas)": return pd.Series([39.472735691902024, -0.3746845941779573])
                elif place == "Museo de la Catedral": return pd.Series([39.475311635587715, -0.37536874471750353])
                elif place == "Museo de prehistoria y de las culturas de Valencia": return pd.Series([39.47831877040294, -0.38330444472079456])
                elif place == "Museo del Patriarca": return pd.Series([39.47239874209303, -0.3731043152699397])
                elif place == "Museo Valenciano de Historia Natural": return pd.Series([39.507112743063416, -0.42098488778704185])
                elif place == "Palacio de Benicarló (Cortes Valencianas)": return pd.Series([39.4779383177152, -0.37472073306060366])
                elif place == "La Lonja de la Seda o de los Mercaderes": return pd.Series([39.47439550611188, -0.37832923306857086])
                elif place == "Palacio de los Condes de Alpuente": return pd.Series([39.47663885855926, -0.37904854471746746])
                elif place == "Torre del Miguelete": return pd.Series([39.47533000038919, -0.37563264471757374])
                elif place == "Basílica de la Virgen - Museo Mariano": return pd.Series([39.47644798269103, -0.37462514471752656])
                elif place == "Iglesia de San Juan de la Cruz": return pd.Series([39.472183718312394, -0.37461487416846506])
                elif place == "Monasterio de San Miguel de los Reyes (Biblioteca Valenciana Nicolau Primitiu)": return pd.Series([39.499384147087646, -0.36899022140276744])
                elif place == "Tribunal de las Aguas": return pd.Series([39.47599041235875, -0.37538020361984686])
                elif place == "Palacio de los Condes de Cervellón (Archivo Histórico Municipal)": return pd.Series([39.47419028226717, -0.37022102769145077])
                elif place == "Casa de la America's Cup": return pd.Series([39.4608921972175, -0.3240629064362844])
                elif place == "Casa Ortega": return pd.Series([39.46542080695542, -0.37320738582289686])
                elif place == "Casa-Museo Concha Piquer": return pd.Series([39.485272701513594, -0.3765252447170566])
                elif place == "Casa-Museo de la Semana Santa Marinera (Salvador Caurín)": return pd.Series([39.46310454237131, -0.331944026927244])
                elif place == "Complejo Arqueológico de la Almoina": return pd.Series([39.47625869475268, -0.37416064471926774])
                elif place == "Edificio calle Ramilletes 1": return pd.Series([39.473267751066416, -0.37801832965823556])
                elif place == "Edificio Rialto": return pd.Series([39.471005589813224, -0.37630959134502834])
                elif place == "Estación-Terminal Marítima": return pd.Series([39.459214489074306, -0.33126150361376344])
                elif place == "Estatua Ecuestre del Rey Jaume I": return pd.Series([39.471898523366185, -0.37058569986097684])
                elif place == "Galería del Tossal (Muralla islámica)": return pd.Series([39.47627620679465, -0.3801039330606832])
                elif place == "Iglesia del antiguo Convento del Carmen": return pd.Series([39.479472589253945, -0.37853197915365094])
                elif place == "Iglesia y Palacio del Temple": return pd.Series([39.47672645301736, -0.3710456649536887])
                elif place == "Museo del Artista Fallero": return pd.Series([39.50015616469446, -0.3925181036118101])
                elif place == "Museo del Siglo XIX (Convento del Carmen)": return pd.Series([39.479695754522126, -0.3790744308284198])
                elif place == "Museo del Trenet": return pd.Series([39.48679932361114, -0.38278244134021483])
                elif place == "Museo Histórico Municipal (Ayuntamiento de Valencia)": return pd.Series([39.46948060689687, -0.3772943036132727])
                elif place == "Palacio de la Batlia o de Jáudenes (Diputación de Valencia)": return pd.Series([39.477062677123754, -0.3766260447174523])
                elif place == "Palacio de los Almirantes de Aragón": return pd.Series([39.47520744200882, -0.37336601526983576])
                elif place == "Palacio de los Boil de Arenós": return pd.Series([39.472612039365686, -0.3739928241092301])
                elif place == "Palacio de los Marqueses de Scala (Diputación de Valencia)": return pd.Series([39.477034817809525, -0.3762201858220121])
                elif place == "Palacio del Intendente Pineda (sede de la UIMP)": return pd.Series([39.478917736326, -0.37871250116755384])
                elif place == "Palacio Joan de Valeriola": return pd.Series([39.47386487920709, -0.3731971796881132])
                elif place == "Plaza de San Luis Beltrán": return pd.Series([39.476527212326495, -0.3735190447175106]) 
                elif place == "Real Colegio del Corpus Christi (El Patriarca)": return pd.Series([39.47239718923298, -0.37310297416540233])
                elif place == "Sede Central de la Universidad de Valencia": return pd.Series([39.47173718311238, -0.37259801526996345])
                elif place == "Teatro Rialto": return pd.Series([39.471005589813224, -0.37630959134502834])
                elif place == "Centro de Arte Hortensia Herrero (CAHH) - Palacio Valeriola": return pd.Series([39.47386384399168, -0.37319583858391275])
                elif place == "Barrio de Ruzafa": return pd.Series([39.461688508258916, -0.3733853505246533])
                elif place == "Barrio del Cabañal": return pd.Series([39.46807986325811, -0.3277241939468485])
                elif place == "Museo Iluziona": return pd.Series([39.46475446606035, -0.37588370361350487])
                elif place == "L'ETNO - Museo Valenciado de Etnología": return pd.Series([39.47829979233867, -0.38314401736191117])
                else: print(place)
                return pd.Series([None, None])
            
    except GeocoderTimedOut:

        return pd.Series([None, None])
    

items[["latitud", "longitud"]] = items["nombre_item"].apply(get_coordinates)

In [4]:
with open("rawdata/clasificacion_items.txt", "r", encoding="latin-1") as file:
    lines = file.readlines()

lines = [line.strip() for line in lines]

#coger las filas del txt de 3 en 3
data = []
for i in range(0, len(lines), 3):
    id_item = lines[i]
    nombre_item = lines[i+1]
    count = lines[i+2]
    data.append([id_item, nombre_item, count])

class_items = pd.DataFrame(data, columns=['id_item', 'id_categoria', 'adec'])
class_items

    id_item id_categoria adec
0     17365           65   61
1     17365           68   67
2     17366           62   78
3     17366           68   75
4     17367           26   20
..      ...          ...  ...
378   18004          115   80
379   18005           68   80
380   18005           14   80
381   18006           68   80
382   18006           14   60

[383 rows x 3 columns]

In [5]:
items_merged = pd.merge(items, class_items, on='id_item', how='inner')
items_merged

,id_item,nombre_item,count,latitud,longitud,id_categoria,adec
0,17365,Casa de las Rocas-Museo del Corpus,11,39.479113,-0.376780,65,61
1,17365,Casa de las Rocas-Museo del Corpus,11,39.479113,-0.376780,68,67
2,17366,Casa-Museo Benlliure,11,39.480787,-0.378965,62,78
3,17366,Casa-Museo Benlliure,11,39.480787,-0.378965,68,75
4,17367,Casa-Museo Blasco Ibañez,11,39.482675,-0.325976,26,20
...,...,...,...,...,...,...,...
378,18004,Barrio del Cabañal,0,39.468080,-0.327724,115,80
379,18005,Museo Iluziona,0,39.464754,-0.375884,68,80
380,18005,Museo Iluziona,0,39.464754,-0.375884,14,80
381,18006,L'ETNO - Museo Valenciado de Etnología,0,39.478300,-0.383144,68,80
382,18006,L'ETNO - Museo Valenciado de Etnología,0,39.478300,-0.383144,14,60

In [6]:
with open("rawdata/preferencias.txt", "r", encoding="latin-1") as file:
    lines = file.readlines()

lines = [line.strip() for line in lines]

#coger las filas del txt de 3 en 3
data = []
for i in range(0, len(lines), 3):
    id_item = lines[i]
    nombre_item = lines[i+1]
    count = lines[i+2]
    data.append([id_item, nombre_item, count])

preferencias = pd.DataFrame(data, columns=['id_categoria', 'categoria', 'padre'])
preferencias

    id_categoria                     categoria padre
0              1            Estilos y periodos     0
1              2                       Compras     0
2              3                        Museos     0
3              4             Espacios Abiertos     0
4              5        Arquitectura religiosa     0
..           ...                           ...   ...
110          111  Otras arquitectura religiosa     5
111          112                 Otros eventos    13
112          113             Otros gastronomía     8
113          114                    Otros ocio    11
114          115                 Otros estilos     1

[115 rows x 3 columns]

In [7]:
items_merged2 = pd.merge(items_merged, preferencias, on='id_categoria', how='inner')
items_merged2 = items_merged2.rename(columns={"padre": "id_padre"})
items_merged2

,id_item,nombre_item,count,latitud,longitud,id_categoria,adec,categoria,id_padre
0,17365,Casa de las Rocas-Museo del Corpus,11,39.479113,-0.376780,65,61,Religión,3
1,17365,Casa de las Rocas-Museo del Corpus,11,39.479113,-0.376780,68,67,Historia y cultura local,3
2,17366,Casa-Museo Benlliure,11,39.480787,-0.378965,62,78,Arte,3
3,17366,Casa-Museo Benlliure,11,39.480787,-0.378965,68,75,Historia y cultura local,3
4,17367,Casa-Museo Blasco Ibañez,11,39.482675,-0.325976,26,20,Modernista,1
...,...,...,...,...,...,...,...,...,...
378,18004,Barrio del Cabañal,0,39.468080,-0.327724,115,80,Otros estilos,1
379,18005,Museo Iluziona,0,39.464754,-0.375884,68,80,Historia y cultura local,3
380,18005,Museo Iluziona,0,39.464754,-0.375884,14,80,Niños,0
381,18006,L'ETNO - Museo Valenciado de Etnología,0,39.478300,-0.383144,68,80,Historia y cultura local,3
382,18006,L'ETNO - Museo Valenciado de Etnología,0,39.478300,-0.383144,14,60,Niños,0

In [8]:
preferencias_padre = preferencias.rename(columns={"id_categoria": "id_padre", "categoria": "padre_categoria"})
preferencias_padre

    id_padre               padre_categoria padre
0          1            Estilos y periodos     0
1          2                       Compras     0
2          3                        Museos     0
3          4             Espacios Abiertos     0
4          5        Arquitectura religiosa     0
..       ...                           ...   ...
110      111  Otras arquitectura religiosa     5
111      112                 Otros eventos    13
112      113             Otros gastronomía     8
113      114                    Otros ocio    11
114      115                 Otros estilos     1

[115 rows x 3 columns]

In [9]:
items_final = pd.merge(items_merged2, preferencias_padre, on='id_padre', how='inner')
items_final

,id_item,nombre_item,count,latitud,longitud,id_categoria,adec,categoria,id_padre,padre_categoria,padre
0,17365,Casa de las Rocas-Museo del Corpus,11,39.479113,-0.376780,65,61,Religión,3,Museos,0
1,17365,Casa de las Rocas-Museo del Corpus,11,39.479113,-0.376780,68,67,Historia y cultura local,3,Museos,0
2,17366,Casa-Museo Benlliure,11,39.480787,-0.378965,62,78,Arte,3,Museos,0
3,17366,Casa-Museo Benlliure,11,39.480787,-0.378965,68,75,Historia y cultura local,3,Museos,0
4,17367,Casa-Museo Blasco Ibañez,11,39.482675,-0.325976,26,20,Modernista,1,Estilos y periodos,0
...,...,...,...,...,...,...,...,...,...,...,...
356,18004,Barrio del Cabañal,0,39.468080,-0.327724,41,80,Bares y pubs,11,Ocio,0
357,18004,Barrio del Cabañal,0,39.468080,-0.327724,48,50,Tiendas tradicionales,2,Compras,0
358,18004,Barrio del Cabañal,0,39.468080,-0.327724,115,80,Otros estilos,1,Estilos y periodos,0
359,18005,Museo Iluziona,0,39.464754,-0.375884,68,80,Historia y cultura local,3,Museos,0
360,18006,L'ETNO - Museo Valenciado de Etnología,0,39.478300,-0.383144,68,80,Historia y cultura local,3,Museos,0

In [17]:
from llm import generate_description

items_final['descripcion2'] = items_final['nombre_item'].apply(generate_description)
items_final

HfHubHTTPError: 500 Server Error: Internal Server Error for url: https://router.huggingface.co/hf-inference/models/EleutherAI/gpt-neo-2.7B (Request ID: Root=1-67cdac9b-0c90beef26c8223f51060f56;c975b0d8-3899-43a8-9b75-b945ba8185f2)

Model too busy, unable to get response in less than 60 second(s)

In [22]:
items_final.to_csv('data/items.csv', index=False)

## 2. Usuarios (`info_usuarios.csv`, `prefs_usuarios.csv`)

### 2.1 Usuarios datos

In [23]:
with open("rawdata/usuarios_datos_personales.txt", "r", encoding="latin1") as file:
    usuarios_datos_content = file.readlines()

# Extracting valid user records by enforcing strict 8-field grouping (5 known + 3 additional fields)
cleaned_records = []
current_record = []

for line in usuarios_datos_content:
    line = line.strip()

    if len(current_record) == 0 and line.isdigit():  # First field: id_usuario
        current_record.append(line)
    elif len(current_record) == 1 and not line.isdigit():  # Second field: nombre_usuario (non-numeric)
        current_record.append(line)
    elif len(current_record) == 2 and line.isdigit():  # Third field: edad (numeric)
        current_record.append(line)
    elif len(current_record) == 3 and not line.isdigit():  # Fourth field: sexo (non-numeric, usually 'F' or 'M')
        current_record.append(line)
    elif len(current_record) == 4 and line.isdigit():  # Fifth field: ocupacion_id (numeric)
        current_record.append(line)
    elif len(current_record) in [5, 6, 7] and line.isdigit():  # Next three fields: Hijos, Edad hijo menor, Edad hijo mayor
        current_record.append(line)

    if len(current_record) == 8:  # Once we have all required fields, save the record
        cleaned_records.append(current_record)
        current_record = []

# Creating a DataFrame with correctly structured user records
usuarios_datos = pd.DataFrame(cleaned_records, columns=[
    "id_usuario", "nombre_usuario", "edad", "sexo", "id_ocupacion",
    "hijos", "edad_hijo_menor", "edad_hijo_mayor"
])

# Convert data types
usuarios_datos["id_usuario"] = usuarios_datos["id_usuario"].astype(int)
usuarios_datos["edad"] = usuarios_datos["edad"].astype(int)
usuarios_datos["id_ocupacion"] = usuarios_datos["id_ocupacion"].astype(int)
usuarios_datos["hijos"] = usuarios_datos["hijos"].astype(int)
usuarios_datos["edad_hijo_menor"] = usuarios_datos["edad_hijo_menor"].astype(int)
usuarios_datos["edad_hijo_mayor"] = usuarios_datos["edad_hijo_mayor"].astype(int)

In [24]:
with open("rawdata/ocupaciones.txt", "r", encoding="latin1") as file:
    ocupaciones_content = file.readlines()

ocupacion_ids = ocupaciones_content[0::2]
ocupacion_names = ocupaciones_content[1::2]

ocupaciones = pd.DataFrame({
    "id_ocupacion": [int(x.strip()) for x in ocupacion_ids],
    "ocupacion": [x.strip() for x in ocupacion_names]})

usuarios_datos = usuarios_datos.merge(ocupaciones, on="id_ocupacion", how="left")
usuarios_datos.head()

,id_usuario,nombre_usuario,edad,sexo,id_ocupacion,hijos,edad_hijo_menor,edad_hijo_mayor,ocupacion
0,123,Usuario_123,37,F,3,1,3,8,Técnicos y profesionales científicos e intelec...
1,124,Usuario_124,42,F,8,1,3,8,Artesanos y trabajadores cualificados de indus...
2,125,Usuario_125,35,F,10,0,0,0,Trabajadores no cualificados
3,126,Usuario_126,50,F,4,0,0,0,Técnicos y profesionales de apoyo
4,127,Usuario_127,66,F,11,1,35,44,Inactivo o desocupado

In [25]:
usuarios_datos.to_csv("./data/info_usuarios.csv", index=False, encoding="utf-8")

### 2.2 Usuarios preferencias

In [26]:
with open("rawdata/usuarios_preferencias.txt", "r", encoding="latin1") as file:
    usuarios_prefs_content = file.readlines()

usuarios_prefs_records = [usuarios_prefs_content[i:i+3] for i in range(0, len(usuarios_prefs_content), 3)]
usuarios_prefs = pd.DataFrame(usuarios_prefs_records, columns=["id_usuario", "id_categoria", "calificacion"])

usuarios_prefs = usuarios_prefs.map(lambda x: x.strip() if isinstance(x, str) else x)
usuarios_prefs["id_usuario"] = usuarios_prefs["id_usuario"].astype(int)
usuarios_prefs["id_categoria"] = usuarios_prefs["id_categoria"].astype(int)
usuarios_prefs["calificacion"] = usuarios_prefs["calificacion"].astype(int) * 10  # Convert scale 1-10 to 1-100


with open("rawdata/preferencias.txt", "r", encoding="latin1") as file:
    categorias_content = file.readlines()

categoria_ids = []
categoria_names = []

for i in range(0, len(categorias_content), 3):  # Every 3 lines, extract relevant data
    if i + 1 < len(categorias_content):  # Ensure we don't go out of bounds
        categoria_ids.append(int(categorias_content[i].strip()))
        categoria_names.append(categorias_content[i + 1].strip())

# Creating corrected preferences DataFrame
categorias = pd.DataFrame({
    "id_categoria": categoria_ids,
    "categoria": categoria_names})

usuarios_prefs_final = usuarios_prefs.merge(categorias, on="id_categoria", how="left")
usuarios_prefs_final

      id_usuario  id_categoria  calificacion               categoria
0            123            16            80            Prehistórico
1            123            17            90                   Árabe
2            123            18            90                  Romano
3            123            19            80                Medieval
4            123            20           100                  Gótico
...          ...           ...           ...                     ...
5465         180           105            90              Esculturas
5466         180           106            90                 Fuentes
5467         180           107            90        Otros monumentos
5468         180           108            60  Centros de salud y spa
5469         180           109            60       Otros salud y spa

[5470 rows x 4 columns]

In [27]:
usuarios_prefs_final.to_csv("./data/prefs_usuarios.csv", index=False, encoding="utf-8")

## 3. Preferencias

In [28]:
with open("rawdata/puntuaciones_usuario_base.txt", "r", encoding="latin-1") as file:
    # Leemos todas las líneas del archivo
    lines = file.readlines()

# Limpiamos las líneas (removemos saltos de línea)
lines = [line.strip() for line in lines]

# Dividimos las líneas en grupos de 3
data = []
for i in range(0, len(lines), 3):
    id = lines[i]
    lugar = lines[i+1]
    ratio = lines[i+2]
    data.append([id, lugar, ratio])

# Convertimos a DataFrame
df_base = pd.DataFrame(data, columns=['id_usuario', 'id_lugar', 'ratio'])
df_base.head()

  id_usuario id_lugar ratio
0        123    17376     6
1        123    17377     6
2        123    17380     6
3        123    17392     3
4        123    17395     4

In [29]:
with open("rawdata/puntuaciones_usuario_test.txt", "r", encoding="latin-1") as file:
    # Leemos todas las líneas del archivo
    lines = file.readlines()

# Limpiamos las líneas (removemos saltos de línea)
lines = [line.strip() for line in lines]

# Dividimos las líneas en grupos de 3
data = []
for i in range(0, len(lines), 3):
    id = lines[i]
    lugar = lines[i+1]
    ratio = lines[i+2]
    data.append([id, lugar, ratio])

# Convertimos a DataFrame
df_test = pd.DataFrame(data, columns=['id_usuario', 'id_lugar', 'ratio'])
df_test.head()

  id_usuario id_lugar ratio
0        123    17365     6
1        123    17366     3
2        123    17367     3
3        123    17369     6
4        123    17371     6

In [30]:
# Convertir las columnas 'ratio' a tipo numérico
df_base['ratio'] = pd.to_numeric(df_base['ratio'])  
df_test['ratio'] = pd.to_numeric(df_test['ratio'])

# Normalizar y multiplicar por 100
df_base['ratio'] = (df_base['ratio'] - df_base['ratio'].min()) / (df_base['ratio'].max() - df_base['ratio'].min()) * 100
df_test['ratio'] = (df_test['ratio'] - df_test['ratio'].min()) / (df_test['ratio'].max() - df_test['ratio'].min()) * 100

df_base['ratio'] = df_base['ratio'].round(4)
df_test['ratio'] = df_test['ratio'].round(4)

In [31]:
df_base.head()

  id_usuario id_lugar    ratio
0        123    17376  83.3333
1        123    17377  83.3333
2        123    17380  83.3333
3        123    17392  33.3333
4        123    17395  50.0000

In [32]:
df_test.head()

  id_usuario id_lugar    ratio
0        123    17365  83.3333
1        123    17366  33.3333
2        123    17367  33.3333
3        123    17369  83.3333
4        123    17371  83.3333

In [33]:
df_base.to_csv('data/puntuaciones_usuario_base.csv', index=True)  
df_test.to_csv('data/puntuaciones_usuario_test.csv', index=True)