# Data preparation

In [1]:
#!pip install -q geopy
#!pip install -q deep_translator

In [3]:
import pandas as pd

## 1. Items (`items.csv`)

In [2]:
with open("rawdata/items.txt", "r", encoding="latin-1") as file:
    lines = file.readlines()

lines = [line.strip() for line in lines]

#coger las filas del txt de 3 en 3
data = []
for i in range(0, len(lines), 3):
    id_item = lines[i]
    nombre_item = lines[i+1]
    count = lines[i+2]
    data.append([id_item, nombre_item, count])

items = pd.DataFrame(data, columns=['id_item', 'nombre_item', 'count'])
items

    id_item                             nombre_item count
0     17365      Casa de las Rocas-Museo del Corpus    11
1     17366                    Casa-Museo Benlliure    11
2     17367                Casa-Museo Blasco Ibañez    11
3     17369       Centro cultural Fundación Bancaja    30
4     17371                  Centro del Carmen-IVAM    26
..      ...                                     ...   ...
145   18002                        Barrio de Ruzafa     0
146   18003                             La Albufera     0
147   18004                      Barrio del Cabañal     0
148   18005                          Museo Iluziona     0
149   18006  L'ETNO - Museo Valenciado de Etnología     0

[150 rows x 3 columns]

### Add longitude and latitude

In [3]:
import pandas as pd
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut
from deep_translator import GoogleTranslator

geolocator = Nominatim(user_agent="your_unique_user_agent")

def get_coordinates(place):
    try:
        location = geolocator.geocode(f"{place}, Valencia, Comarca de València, España", timeout=20)
        if location:
            return pd.Series([location.latitude, location.longitude])
        else:
            place_valenciano = GoogleTranslator(source="es", target="ca").translate(place)
            location = geolocator.geocode(f"{place_valenciano}, Valencia, Comarca de València, España", timeout=10)
            
            if location:
                return pd.Series([location.latitude, location.longitude])
            else:
                if place == "Museo de historia de Valencia": return pd.Series([39.472502018282526, -0.40842270361313004])
                elif place == "Biblioteca": return pd.Series([39.47012830941325, -0.38191031347773546])
                elif place == "Reales Atarazanas": return pd.Series([39.461211230946454, -0.3333335447182755])
                elif place == "Iglesia Santos Juanes": return pd.Series([39.474212060334715, -0.37952946558594475])
                elif place == "Puerto": return pd.Series([39.44827217147284, -0.3169480823984605])
                elif place == "Casa del Dragón": return pd.Series([39.470198745329334, -0.3698432498696374])
                elif place == "Iglesia de San Agustín": return pd.Series([39.468682483385805, -0.3800515269269744])
                elif place == "Barrio del Carmen": return pd.Series([39.47884429391109, -0.379883679706167])
                elif place == "Centro cultural Fundación Bancaja": return pd.Series([39.4737548616517, -0.37015740361308525])
                elif place == "Centro del Carmen-IVAM": return pd.Series([39.47976316813503, -0.3790205833491236])
                elif place == "Centro Julio Gonzalez-IVAM": return pd.Series([39.47964886611254, -0.38295116377254])
                elif place == "Museo de Cerámica (Palacio Marqués de Dos Aguas)": return pd.Series([39.472735691902024, -0.3746845941779573])
                elif place == "Museo de la Catedral": return pd.Series([39.475311635587715, -0.37536874471750353])
                elif place == "Museo de prehistoria y de las culturas de Valencia": return pd.Series([39.47831877040294, -0.38330444472079456])
                elif place == "Museo del Patriarca": return pd.Series([39.47239874209303, -0.3731043152699397])
                elif place == "Museo Valenciano de Historia Natural": return pd.Series([39.507112743063416, -0.42098488778704185])
                elif place == "Palacio de Benicarló (Cortes Valencianas)": return pd.Series([39.4779383177152, -0.37472073306060366])
                elif place == "La Lonja de la Seda o de los Mercaderes": return pd.Series([39.47439550611188, -0.37832923306857086])
                elif place == "Palacio de los Condes de Alpuente": return pd.Series([39.47663885855926, -0.37904854471746746])
                elif place == "Torre del Miguelete": return pd.Series([39.47533000038919, -0.37563264471757374])
                elif place == "Basílica de la Virgen - Museo Mariano": return pd.Series([39.47644798269103, -0.37462514471752656])
                elif place == "Iglesia de San Juan de la Cruz": return pd.Series([39.472183718312394, -0.37461487416846506])
                elif place == "Monasterio de San Miguel de los Reyes (Biblioteca Valenciana Nicolau Primitiu)": return pd.Series([39.499384147087646, -0.36899022140276744])
                elif place == "Tribunal de las Aguas": return pd.Series([39.47599041235875, -0.37538020361984686])
                elif place == "Palacio de los Condes de Cervellón (Archivo Histórico Municipal)": return pd.Series([39.47419028226717, -0.37022102769145077])
                elif place == "Casa de la America's Cup": return pd.Series([39.4608921972175, -0.3240629064362844])
                elif place == "Casa Ortega": return pd.Series([39.46542080695542, -0.37320738582289686])
                elif place == "Casa-Museo Concha Piquer": return pd.Series([39.485272701513594, -0.3765252447170566])
                elif place == "Casa-Museo de la Semana Santa Marinera (Salvador Caurín)": return pd.Series([39.46310454237131, -0.331944026927244])
                elif place == "Complejo Arqueológico de la Almoina": return pd.Series([39.47625869475268, -0.37416064471926774])
                elif place == "Edificio calle Ramilletes 1": return pd.Series([39.473267751066416, -0.37801832965823556])
                elif place == "Edificio Rialto": return pd.Series([39.471005589813224, -0.37630959134502834])
                elif place == "Estación-Terminal Marítima": return pd.Series([39.459214489074306, -0.33126150361376344])
                elif place == "Estatua Ecuestre del Rey Jaume I": return pd.Series([39.471898523366185, -0.37058569986097684])
                elif place == "Galería del Tossal (Muralla islámica)": return pd.Series([39.47627620679465, -0.3801039330606832])
                elif place == "Iglesia del antiguo Convento del Carmen": return pd.Series([39.479472589253945, -0.37853197915365094])
                elif place == "Iglesia y Palacio del Temple": return pd.Series([39.47672645301736, -0.3710456649536887])
                elif place == "Museo del Artista Fallero": return pd.Series([39.50015616469446, -0.3925181036118101])
                elif place == "Museo del Siglo XIX (Convento del Carmen)": return pd.Series([39.479695754522126, -0.3790744308284198])
                elif place == "Museo del Trenet": return pd.Series([39.48679932361114, -0.38278244134021483])
                elif place == "Museo Histórico Municipal (Ayuntamiento de Valencia)": return pd.Series([39.46948060689687, -0.3772943036132727])
                elif place == "Palacio de la Batlia o de Jáudenes (Diputación de Valencia)": return pd.Series([39.477062677123754, -0.3766260447174523])
                elif place == "Palacio de los Almirantes de Aragón": return pd.Series([39.47520744200882, -0.37336601526983576])
                elif place == "Palacio de los Boil de Arenós": return pd.Series([39.472612039365686, -0.3739928241092301])
                elif place == "Palacio de los Marqueses de Scala (Diputación de Valencia)": return pd.Series([39.477034817809525, -0.3762201858220121])
                elif place == "Palacio del Intendente Pineda (sede de la UIMP)": return pd.Series([39.478917736326, -0.37871250116755384])
                elif place == "Palacio Joan de Valeriola": return pd.Series([39.47386487920709, -0.3731971796881132])
                elif place == "Plaza de San Luis Beltrán": return pd.Series([39.476527212326495, -0.3735190447175106]) 
                elif place == "Real Colegio del Corpus Christi (El Patriarca)": return pd.Series([39.47239718923298, -0.37310297416540233])
                elif place == "Sede Central de la Universidad de Valencia": return pd.Series([39.47173718311238, -0.37259801526996345])
                elif place == "Teatro Rialto": return pd.Series([39.471005589813224, -0.37630959134502834])
                elif place == "Centro de Arte Hortensia Herrero (CAHH) - Palacio Valeriola": return pd.Series([39.47386384399168, -0.37319583858391275])
                elif place == "Barrio de Ruzafa": return pd.Series([39.461688508258916, -0.3733853505246533])
                elif place == "Barrio del Cabañal": return pd.Series([39.46807986325811, -0.3277241939468485])
                elif place == "Museo Iluziona": return pd.Series([39.46475446606035, -0.37588370361350487])
                elif place == "L'ETNO - Museo Valenciado de Etnología": return pd.Series([39.47829979233867, -0.38314401736191117])
                else: print(place)
                return pd.Series([None, None])
            
    except GeocoderTimedOut:

        return pd.Series([None, None])
    

items[["latitud", "longitud"]] = items["nombre_item"].apply(get_coordinates)

In [5]:
with open("rawdata/clasificacion_items.txt", "r", encoding="latin-1") as file:
    lines = file.readlines()

lines = [line.strip() for line in lines]

#coger las filas del txt de 3 en 3
data = []
for i in range(0, len(lines), 3):
    id_item = lines[i]
    nombre_item = lines[i+1]
    count = lines[i+2]
    data.append([id_item, nombre_item, count])

class_items = pd.DataFrame(data, columns=['id_item', 'id_categoria', 'adec'])
class_items

    id_item id_categoria adec
0     17365           65   61
1     17365           68   67
2     17366           62   78
3     17366           68   75
4     17367           26   20
..      ...          ...  ...
378   18004          115   80
379   18005           68   80
380   18005           14   80
381   18006           68   80
382   18006           14   60

[383 rows x 3 columns]

In [6]:
items_merged = pd.merge(items, class_items, on='id_item', how='inner')
items_merged

,id_item,nombre_item,count,latitud,longitud,id_categoria,adec
0,17365,Casa de las Rocas-Museo del Corpus,11,39.479113,-0.376780,65,61
1,17365,Casa de las Rocas-Museo del Corpus,11,39.479113,-0.376780,68,67
2,17366,Casa-Museo Benlliure,11,39.480787,-0.378965,62,78
3,17366,Casa-Museo Benlliure,11,39.480787,-0.378965,68,75
4,17367,Casa-Museo Blasco Ibañez,11,39.482675,-0.325976,26,20
...,...,...,...,...,...,...,...
378,18004,Barrio del Cabañal,0,39.468080,-0.327724,115,80
379,18005,Museo Iluziona,0,39.464754,-0.375884,68,80
380,18005,Museo Iluziona,0,39.464754,-0.375884,14,80
381,18006,L'ETNO - Museo Valenciado de Etnología,0,39.478300,-0.383144,68,80
382,18006,L'ETNO - Museo Valenciado de Etnología,0,39.478300,-0.383144,14,60

In [7]:
with open("rawdata/preferencias.txt", "r", encoding="latin-1") as file:
    lines = file.readlines()

lines = [line.strip() for line in lines]

#coger las filas del txt de 3 en 3
data = []
for i in range(0, len(lines), 3):
    id_item = lines[i]
    nombre_item = lines[i+1]
    count = lines[i+2]
    data.append([id_item, nombre_item, count])

preferencias = pd.DataFrame(data, columns=['id_categoria', 'categoria', 'padre'])
preferencias

    id_categoria                     categoria padre
0              1            Estilos y periodos     0
1              2                       Compras     0
2              3                        Museos     0
3              4             Espacios Abiertos     0
4              5        Arquitectura religiosa     0
..           ...                           ...   ...
110          111  Otras arquitectura religiosa     5
111          112                 Otros eventos    13
112          113             Otros gastronomía     8
113          114                    Otros ocio    11
114          115                 Otros estilos     1

[115 rows x 3 columns]

In [8]:
items_merged2 = pd.merge(items_merged, preferencias, on='id_categoria', how='inner')
items_merged2 = items_merged2.rename(columns={"padre": "id_padre"})
items_merged2

,id_item,nombre_item,count,latitud,longitud,id_categoria,adec,categoria,id_padre
0,17365,Casa de las Rocas-Museo del Corpus,11,39.479113,-0.376780,65,61,Religión,3
1,17365,Casa de las Rocas-Museo del Corpus,11,39.479113,-0.376780,68,67,Historia y cultura local,3
2,17366,Casa-Museo Benlliure,11,39.480787,-0.378965,62,78,Arte,3
3,17366,Casa-Museo Benlliure,11,39.480787,-0.378965,68,75,Historia y cultura local,3
4,17367,Casa-Museo Blasco Ibañez,11,39.482675,-0.325976,26,20,Modernista,1
...,...,...,...,...,...,...,...,...,...
378,18004,Barrio del Cabañal,0,39.468080,-0.327724,115,80,Otros estilos,1
379,18005,Museo Iluziona,0,39.464754,-0.375884,68,80,Historia y cultura local,3
380,18005,Museo Iluziona,0,39.464754,-0.375884,14,80,Niños,0
381,18006,L'ETNO - Museo Valenciado de Etnología,0,39.478300,-0.383144,68,80,Historia y cultura local,3
382,18006,L'ETNO - Museo Valenciado de Etnología,0,39.478300,-0.383144,14,60,Niños,0

In [9]:
preferencias_padre = preferencias.rename(columns={"id_categoria": "id_padre", "categoria": "padre_categoria"})
preferencias_padre

    id_padre               padre_categoria padre
0          1            Estilos y periodos     0
1          2                       Compras     0
2          3                        Museos     0
3          4             Espacios Abiertos     0
4          5        Arquitectura religiosa     0
..       ...                           ...   ...
110      111  Otras arquitectura religiosa     5
111      112                 Otros eventos    13
112      113             Otros gastronomía     8
113      114                    Otros ocio    11
114      115                 Otros estilos     1

[115 rows x 3 columns]

In [10]:
items_final = pd.merge(items_merged2, preferencias_padre, on='id_padre', how='inner')
items_final

,id_item,nombre_item,count,latitud,longitud,id_categoria,adec,categoria,id_padre,padre_categoria,padre
0,17365,Casa de las Rocas-Museo del Corpus,11,39.479113,-0.376780,65,61,Religión,3,Museos,0
1,17365,Casa de las Rocas-Museo del Corpus,11,39.479113,-0.376780,68,67,Historia y cultura local,3,Museos,0
2,17366,Casa-Museo Benlliure,11,39.480787,-0.378965,62,78,Arte,3,Museos,0
3,17366,Casa-Museo Benlliure,11,39.480787,-0.378965,68,75,Historia y cultura local,3,Museos,0
4,17367,Casa-Museo Blasco Ibañez,11,39.482675,-0.325976,26,20,Modernista,1,Estilos y periodos,0
...,...,...,...,...,...,...,...,...,...,...,...
356,18004,Barrio del Cabañal,0,39.468080,-0.327724,41,80,Bares y pubs,11,Ocio,0
357,18004,Barrio del Cabañal,0,39.468080,-0.327724,48,50,Tiendas tradicionales,2,Compras,0
358,18004,Barrio del Cabañal,0,39.468080,-0.327724,115,80,Otros estilos,1,Estilos y periodos,0
359,18005,Museo Iluziona,0,39.464754,-0.375884,68,80,Historia y cultura local,3,Museos,0
360,18006,L'ETNO - Museo Valenciado de Etnología,0,39.478300,-0.383144,68,80,Historia y cultura local,3,Museos,0

In [ ]:
from llm import generate_description

from tqdm import tqdm

# Agregar tqdm a pandas para mostrar progreso en apply()
from tqdm.notebook import tqdm
tqdm.pandas()

# Aplicar la función con barra de progreso
items_final['descripcion'] = items_final['nombre_item'].progress_apply(generate_description)

items_final

,id_item,nombre_item,count,latitud,longitud,id_categoria,adec,categoria,id_padre,padre_categoria,padre,descripcion2
0,17365,Casa de las Rocas-Museo del Corpus,11,39.479113,-0.376780,65,61,Religión,3,Museos,0,La Casa de las Rocas-Museo del Corpus en Valen...
1,17365,Casa de las Rocas-Museo del Corpus,11,39.479113,-0.376780,68,67,Historia y cultura local,3,Museos,0,La Casa de las Rocas-Museo del Corpus es un lu...
2,17366,Casa-Museo Benlliure,11,39.480787,-0.378965,62,78,Arte,3,Museos,0,La Casa-Museo Benlliure es un espacio cultural...
3,17366,Casa-Museo Benlliure,11,39.480787,-0.378965,68,75,Historia y cultura local,3,Museos,0,La Casa-Museo Benlliure en Valencia es un dest...
4,17367,Casa-Museo Blasco Ibañez,11,39.482675,-0.325976,26,20,Modernista,1,Estilos y periodos,0,La Casa-Museo Blasco Ibañez es un destino turí...
...,...,...,...,...,...,...,...,...,...,...,...,...
356,18004,Barrio del Cabañal,0,39.468080,-0.327724,41,80,Bares y pubs,11,Ocio,0,El Barrio del Cabañal es un destino turístico ...
357,18004,Barrio del Cabañal,0,39.468080,-0.327724,48,50,Tiendas tradicionales,2,Compras,0,El Barrio del Cabañal es un destacado destino ...
358,18004,Barrio del Cabañal,0,39.468080,-0.327724,115,80,Otros estilos,1,Estilos y periodos,0,El Barrio del Cabañal es un destino imprescind...
359,18005,Museo Iluziona,0,39.464754,-0.375884,68,80,Historia y cultura local,3,Museos,0,El Museo Iluziona en Valencia es un lugar dond...
360,18006,L'ETNO - Museo Valenciado de Etnología,0,39.478300,-0.383144,68,80,Historia y cultura local,3,Museos,0,"El Museo Valenciano de Etnología, también cono..."

In [12]:
items_final.to_csv('data/items.csv', index=False)

## 2. Usuarios (`info_usuarios.csv`, `prefs_usuarios.csv`)

### 2.1 Usuarios datos

In [35]:
import pandas as pd

with open("rawdata/usuarios_datos_personales.txt", "r", encoding="latin1") as file:
    usuarios_datos_content = file.readlines()

# Extracting valid user records by enforcing strict 8-field grouping (5 known + 3 additional fields)
cleaned_records = []
current_record = []

for line in usuarios_datos_content:
    line = line.strip()

    if len(current_record) == 0 and line.isdigit():  # First field: id_usuario
        current_record.append(line)
    elif len(current_record) == 1 and not line.isdigit():  # Second field: nombre_usuario (non-numeric)
        current_record.append(line)
    elif len(current_record) == 2 and line.isdigit():  # Third field: edad (numeric)
        current_record.append(line)
    elif len(current_record) == 3 and not line.isdigit():  # Fourth field: sexo (non-numeric, usually 'F' or 'M')
        current_record.append(line)
    elif len(current_record) == 4 and line.isdigit():  # Fifth field: ocupacion_id (numeric)
        current_record.append(line)
    elif len(current_record) in [5, 6, 7] and line.isdigit():  # Next three fields: Hijos, Edad hijo menor, Edad hijo mayor
        current_record.append(line)

    if len(current_record) == 8:  # Once we have all required fields, save the record
        cleaned_records.append(current_record)
        current_record = []

# Creating a DataFrame with correctly structured user records
usuarios_datos = pd.DataFrame(cleaned_records, columns=[
    "id_usuario", "nombre_usuario", "edad", "sexo", "id_ocupacion",
    "hijos", "edad_hijo_menor", "edad_hijo_mayor"
])

# Convert data types
usuarios_datos["id_usuario"] = usuarios_datos["id_usuario"].astype(int)
usuarios_datos["edad"] = usuarios_datos["edad"].astype(int)
usuarios_datos["id_ocupacion"] = usuarios_datos["id_ocupacion"].astype(int)
usuarios_datos["hijos"] = usuarios_datos["hijos"].astype(int)
usuarios_datos["edad_hijo_menor"] = usuarios_datos["edad_hijo_menor"].astype(int)
usuarios_datos["edad_hijo_mayor"] = usuarios_datos["edad_hijo_mayor"].astype(int)

In [36]:
with open("rawdata/ocupaciones.txt", "r", encoding="latin1") as file:
    ocupaciones_content = file.readlines()

ocupacion_ids = ocupaciones_content[0::2]
ocupacion_names = ocupaciones_content[1::2]

ocupaciones = pd.DataFrame({
    "id_ocupacion": [int(x.strip()) for x in ocupacion_ids],
    "ocupacion": [x.strip() for x in ocupacion_names]})

usuarios_datos = usuarios_datos.merge(ocupaciones, on="id_ocupacion", how="left")
usuarios_datos.head()

,id_usuario,nombre_usuario,edad,sexo,id_ocupacion,hijos,edad_hijo_menor,edad_hijo_mayor,ocupacion
0,123,Usuario_123,37,F,3,1,3,8,Técnicos y profesionales científicos e intelec...
1,124,Usuario_124,42,M,8,1,3,8,Artesanos y trabajadores cualificados de indus...
2,125,Usuario_125,35,F,10,0,0,0,Trabajadores no cualificados
3,126,Usuario_126,50,M,4,0,0,0,Técnicos y profesionales de apoyo
4,127,Usuario_127,66,F,11,1,35,44,Inactivo o desocupado

In [37]:
tipos_usuarios = []

for index, row in usuarios_datos.iterrows():
    if row['edad'] < 60:
        #tipo 2: viajero borrachera
        if row['edad'] > 18 and (row['ocupacion'] == 'Trabajadores no cualificados' or row['ocupacion'] == 'Inactivo o desocupado') and row['hijos'] == 0:
            tipos_usuarios.append('tipo2')
        #tipo 5: viajero niños
        elif row['edad'] > 30 and row['hijos'] > 0 and (row['edad_hijo_menor'] < 12 or row['edad_hijo_mayor'] < 12):
            tipos_usuarios.append('tipo5')
        #tipo 3: viajero joven con cultura 
        elif row['edad'] < 30 and row['edad'] > 18 and (row['ocupacion'] == 'Dirección de las empresas y de las administraciones públicas' or row['ocupacion'] == 'Técnicos y profesionales científicos e intelectuales'or row['ocupacion'] == 'Técnicos y profesionales de apoyo'):
            tipos_usuarios.append('tipo3')
        else:
            #tipo 6: militares
            if row['ocupacion'] == 'Fuerzas armadas':
                tipos_usuarios.append('tipo6')
            #tipo 1: viajero disfrute (grupo grande)  
            else:
             tipos_usuarios.append('tipo1')
    #tipo 4: viajero jubilado
    else:
        tipos_usuarios.append('tipo4')

In [38]:
usuarios_datos['tipos_usuario'] = tipos_usuarios
usuarios_datos = usuarios_datos[usuarios_datos['id_usuario'] != 181]
usuarios_datos.tail()

,id_usuario,nombre_usuario,edad,sexo,id_ocupacion,hijos,edad_hijo_menor,edad_hijo_mayor,ocupacion,tipos_usuario
53,176,Usuario_176,34,F,6,0,0,0,"Trabajadores de los servicios de restauración,...",tipo1
54,177,Usuario_177,23,F,1,0,0,0,Fuerzas armadas,tipo6
55,178,Usuario_178,36,F,1,0,0,0,Fuerzas armadas,tipo6
56,179,Usuario_179,40,F,3,1,3,5,Técnicos y profesionales científicos e intelec...,tipo5
57,180,Usuario_180,34,M,3,0,0,0,Técnicos y profesionales científicos e intelec...,tipo1

# SE GUARDA AL FINAL PARA CALCULAR LOS VECINOS DEL COLABORAITVO

### 2.2 Usuarios preferencias

In [8]:
with open("rawdata/usuarios_preferencias.txt", "r", encoding="latin1") as file:
    usuarios_prefs_content = file.readlines()

usuarios_prefs_records = [usuarios_prefs_content[i:i+3] for i in range(0, len(usuarios_prefs_content), 3)]
usuarios_prefs = pd.DataFrame(usuarios_prefs_records, columns=["id_usuario", "id_categoria", "calificacion"])

usuarios_prefs = usuarios_prefs.map(lambda x: x.strip() if isinstance(x, str) else x)
usuarios_prefs["id_usuario"] = usuarios_prefs["id_usuario"].astype(int)
usuarios_prefs["id_categoria"] = usuarios_prefs["id_categoria"].astype(int)
usuarios_prefs["calificacion"] = usuarios_prefs["calificacion"].astype(int) * 10  # Convert scale 1-10 to 1-100


with open("rawdata/preferencias.txt", "r", encoding="latin1") as file:
    categorias_content = file.readlines()

categoria_ids = []
categoria_names = []

for i in range(0, len(categorias_content), 3):  # Every 3 lines, extract relevant data
    if i + 1 < len(categorias_content):  # Ensure we don't go out of bounds
        categoria_ids.append(int(categorias_content[i].strip()))
        categoria_names.append(categorias_content[i + 1].strip())

# Creating corrected preferences DataFrame
categorias = pd.DataFrame({
    "id_categoria": categoria_ids,
    "categoria": categoria_names})

usuarios_prefs_final = usuarios_prefs.merge(categorias, on="id_categoria", how="left")
usuarios_prefs_final

      id_usuario  id_categoria  calificacion               categoria
0            123            16            80            Prehistórico
1            123            17            90                   Árabe
2            123            18            90                  Romano
3            123            19            80                Medieval
4            123            20           100                  Gótico
...          ...           ...           ...                     ...
5465         180           105            90              Esculturas
5466         180           106            90                 Fuentes
5467         180           107            90        Otros monumentos
5468         180           108            60  Centros de salud y spa
5469         180           109            60       Otros salud y spa

[5470 rows x 4 columns]

In [9]:
usuarios_prefs_final.to_csv("./data/prefs_usuarios.csv", index=False, encoding="utf-8")

In [10]:
import pandas as pd
items = pd.read_csv("data/items.csv")
items

print(items.categoria.unique())

['Religión' 'Historia y cultura local' 'Arte' 'Modernista' 'Exposiciones'
 'Otros estilos' 'Contemporáneo' 'Ciencias naturales' 'Historia'
 'Artesanía' 'Rococo' 'Gótico' 'Renacentista' 'Barroco'
 'Ciencia y tecnología' 'Arqueologia' 'Neoclásico' 'Medieval'
 'Edificios gubernamentales' 'Edificios académicos'
 'Otros edificios públicos' 'Árabe' 'Estaciones de transportes' 'Futbol'
 'Estadios y áreas deportivas' 'Mercados' 'Bares y pubs'
 'Tiendas especializadas' 'Palacio' 'Conciertos y música en vivo'
 'Música clasica' 'Otros museos' 'Teatros' 'Campanarios' 'Basílica'
 'Catedrales' 'Iglesias' 'Monasterios' 'Otros espacios abiertos'
 'Otros monumentos' 'Torres' 'Parques' 'Jardines botánicos'
 'Parque infantil' 'Paseos' 'Playas' 'Calles y plazas'
 'Tiendas tradicionales' 'Clubs y discotecas' 'Eventos deportivos'
 'Otros eventos' 'Claustros' 'Capilla' 'Conferencias' 'Ateneo'
 'Otros deportes' 'Casa' 'Prehistórico' 'Romano' 'Conventos' 'Criptas'
 'Atarazanas' 'Cines' 'Esculturas' 'Ferias' 'Congresos'
 'Otros edificios emblemáticos' 'Fuentes' 'Militar' 'Ópera' 'Puentes'
 'Nauticos' 'Restaurantes' 'Discotecas']

## 3. Preferencias

In [11]:
df_base = pd.read_csv("rawdata/puntuaciones_usuario_base2.csv", sep=";", header=None)
df_base.columns = ["id_usuario", "id_item", "ratio"]
df_base.head()

   id_usuario  id_item  ratio
0         123    17376      6
1         123    17377      6
2         123    17380      6
3         123    17392      3
4         123    17395      4

In [12]:
with open("rawdata/puntuaciones_usuario_test.txt", "r", encoding="latin-1") as file:
    # Leemos todas las líneas del archivo
    lines = file.readlines()

# Limpiamos las líneas (removemos saltos de línea)
lines = [line.strip() for line in lines]

# Dividimos las líneas en grupos de 3
data = []
for i in range(0, len(lines), 3):
    id = lines[i]
    lugar = lines[i+1]
    ratio = lines[i+2]
    data.append([id, lugar, ratio])

# Convertimos a DataFrame
df_test = pd.DataFrame(data, columns=['id_usuario', 'id_item', 'ratio'])
df_test.head()

  id_usuario id_item ratio
0        123   17365     6
1        123   17366     3
2        123   17367     3
3        123   17369     6
4        123   17371     6

In [13]:
# Convertir las columnas 'ratio' a tipo numérico
df_base['ratio'] = pd.to_numeric(df_base['ratio'])  
df_test['ratio'] = pd.to_numeric(df_test['ratio'])

# Normalizar y multiplicar por 100
df_base['ratio'] = ((df_base["ratio"] - 1) / 6) * 100
df_test['ratio'] = ((df_test["ratio"] - 1) / 6) * 100

df_base['ratio'] = df_base['ratio'].round(4)
df_test['ratio'] = df_test['ratio'].round(4)

In [14]:
df_base.head()

   id_usuario  id_item    ratio
0         123    17376  83.3333
1         123    17377  83.3333
2         123    17380  83.3333
3         123    17392  33.3333
4         123    17395  50.0000

In [15]:
df_test.head()

  id_usuario id_item    ratio
0        123   17365  83.3333
1        123   17366  33.3333
2        123   17367  33.3333
3        123   17369  83.3333
4        123   17371  83.3333

In [16]:
df_base.to_csv('data/puntuaciones_usuario_base.csv', index=False)  
df_test.to_csv('data/puntuaciones_usuario_test.csv', index=False)

## 4. Vecinos colaborativo

In [39]:
from scipy.stats import pearsonr

usuarios = pd.DataFrame(usuarios_datos['id_usuario'])
ratings_df = df_base

# Crear matriz usuario-item (usuarios en filas, ítems en columnas)
user_item_matrix = ratings_df.pivot(index="id_usuario", columns="id_item", values="ratio")

print(user_item_matrix)

id_item       17365    17366    17367    17369    17371    17372     17374  \
id_usuario
123             NaN      NaN      NaN      NaN      NaN      NaN       NaN
124             NaN      NaN      NaN      NaN      NaN  83.3333  100.0000
125             NaN      NaN      NaN      NaN      NaN      NaN       NaN
126             NaN      NaN      NaN      NaN      NaN      NaN       NaN
127             NaN      NaN      NaN      NaN      NaN      NaN   83.3333
128             NaN      NaN      NaN      NaN      NaN      NaN   83.3333
129          0.0000   0.0000      NaN      NaN      NaN      NaN       NaN
130             NaN      NaN      NaN  66.6667      NaN   0.0000   83.3333
131             NaN      NaN      NaN      NaN      NaN   0.0000   66.6667
132             NaN      NaN      NaN      NaN      NaN      NaN       NaN
133             NaN      NaN      NaN      NaN      NaN   0.0000       NaN
134             NaN      NaN      NaN  83.3333  83.3333      NaN       NaN
135             NaN      NaN  33.3333  66.6667      NaN  66.6667       NaN
136             NaN      NaN      NaN      NaN      NaN      NaN       NaN
137          0.0000   0.0000   0.0000      NaN      NaN      NaN    0.0000
138             NaN      NaN      NaN      NaN      NaN      NaN       NaN
139          0.0000      NaN      NaN      NaN      NaN      NaN       NaN
140             NaN      NaN      NaN      NaN      NaN      NaN       NaN
141             NaN   0.0000      NaN      NaN      NaN      NaN       NaN
142             NaN  83.3333      NaN      NaN      NaN      NaN       NaN
143             NaN   0.0000      NaN      NaN      NaN      NaN   83.3333
144             NaN      NaN      NaN      NaN      NaN      NaN       NaN
145             NaN      NaN      NaN   0.0000      NaN   0.0000       NaN
146             NaN      NaN      NaN      NaN      NaN      NaN       NaN
147             NaN      NaN      NaN      NaN      NaN      NaN       NaN
148             NaN      NaN      NaN      NaN      NaN      NaN       NaN
149             NaN      NaN      NaN      NaN      NaN      NaN       NaN
150             NaN   0.0000      NaN      NaN      NaN   0.0000       NaN
151             NaN      NaN      NaN      NaN  83.3333      NaN       NaN
152             NaN      NaN      NaN      NaN      NaN      NaN       NaN
153         16.6667      NaN      NaN      NaN      NaN      NaN       NaN
154             NaN      NaN      NaN      NaN      NaN      NaN       NaN
155          0.0000      NaN      NaN      NaN      NaN      NaN       NaN
156             NaN      NaN      NaN      NaN      NaN      NaN       NaN
157         83.3333      NaN      NaN      NaN  83.3333      NaN   83.3333
158             NaN      NaN      NaN      NaN      NaN      NaN       NaN
159             NaN      NaN      NaN      NaN      NaN      NaN       NaN
160             NaN      NaN      NaN      NaN      NaN      NaN       NaN
161             NaN      NaN      NaN      NaN      NaN      NaN       NaN
162             NaN      NaN      NaN      NaN      NaN      NaN       NaN
163             NaN      NaN      NaN      NaN  83.3333      NaN       NaN
164             NaN      NaN      NaN      NaN  83.3333      NaN       NaN
165             NaN      NaN      NaN  83.3333      NaN      NaN       NaN
166          0.0000      NaN      NaN      NaN      NaN      NaN       NaN
167             NaN      NaN      NaN      NaN      NaN      NaN   16.6667
168             NaN      NaN      NaN      NaN      NaN      NaN       NaN
169             NaN      NaN      NaN  83.3333  83.3333  83.3333    0.0000
170             NaN      NaN      NaN      NaN      NaN      NaN       NaN
171             NaN      NaN      NaN      NaN      NaN   0.0000       NaN
172             NaN      NaN      NaN      NaN      NaN      NaN       NaN
173             NaN      NaN      NaN      NaN      NaN      NaN       NaN
174             NaN      NaN      NaN      NaN      NaN      NaN       NaN
175             NaN      NaN      NaN      NaN      NaN      NaN       NaN
176             NaN   0.0000      NaN      NaN  33.3333      NaN   33.3333
177          0.0000      NaN      NaN      NaN      NaN      NaN       NaN
178             NaN      NaN      NaN      NaN      NaN   0.0000       NaN
179             NaN      NaN      NaN      NaN      NaN      NaN       NaN
180             NaN      NaN      NaN      NaN      NaN   0.0000       NaN

id_item       17375    17376    17377  ...    17546    17547    17548  \
id_usuario                             ...
123             NaN  83.3333  83.3333  ...      NaN      NaN      NaN
124             NaN      NaN      NaN  ...      NaN      NaN      NaN
125             NaN      NaN      NaN  ...      NaN  83.3333      NaN
126             NaN      NaN      NaN  ...      NaN      NaN      NaN
127             NaN      NaN  83.3333  ...      NaN  83.3333      NaN
128             NaN      NaN      NaN  ...      NaN  83.3333      NaN
129             NaN      NaN      NaN  ...      NaN      NaN      NaN
130             NaN      NaN      NaN  ...   0.0000      NaN      NaN
131             NaN      NaN      NaN  ...      NaN      NaN      NaN
132             NaN   0.0000   0.0000  ...      NaN      NaN      NaN
133             NaN      NaN      NaN  ...      NaN      NaN      NaN
134             NaN  83.3333      NaN  ...      NaN  83.3333      NaN
135             NaN      NaN      NaN  ...   0.0000  66.6667      NaN
136             NaN  50.0000      NaN  ...      NaN      NaN  66.6667
137             NaN      NaN      NaN  ...      NaN      NaN      NaN
138         66.6667      NaN      NaN  ...      NaN      NaN      NaN
139             NaN      NaN      NaN  ...      NaN  83.3333      NaN
140             NaN      NaN      NaN  ...      NaN      NaN      NaN
141             NaN      NaN      NaN  ...      NaN      NaN      NaN
142             NaN      NaN      NaN  ...      NaN  66.6667      NaN
143             NaN      NaN      NaN  ...      NaN      NaN      NaN
144             NaN  83.3333      NaN  ...      NaN      NaN      NaN
145          0.0000      NaN      NaN  ...      NaN      NaN      NaN
146             NaN      NaN      NaN  ...      NaN      NaN      NaN
147             NaN      NaN      NaN  ...      NaN      NaN      NaN
148             NaN      NaN      NaN  ...      NaN      NaN      NaN
149             NaN      NaN      NaN  ...      NaN   0.0000      NaN
150             NaN      NaN      NaN  ...      NaN      NaN      NaN
151             NaN      NaN      NaN  ...      NaN      NaN      NaN
152             NaN      NaN      NaN  ...      NaN      NaN      NaN
153             NaN  83.3333      NaN  ...  66.6667      NaN      NaN
154             NaN      NaN      NaN  ...      NaN      NaN      NaN
155             NaN      NaN      NaN  ...      NaN      NaN      NaN
156             NaN      NaN      NaN  ...      NaN      NaN      NaN
157             NaN      NaN      NaN  ...  83.3333      NaN      NaN
158             NaN      NaN  83.3333  ...      NaN      NaN      NaN
159             NaN      NaN      NaN  ...      NaN  83.3333      NaN
160         83.3333      NaN      NaN  ...      NaN  83.3333      NaN
161          0.0000      NaN      NaN  ...      NaN      NaN      NaN
162             NaN      NaN      NaN  ...      NaN      NaN  66.6667
163             NaN      NaN      NaN  ...      NaN      NaN      NaN
164         33.3333      NaN      NaN  ...      NaN  83.3333  66.6667
165             NaN  83.3333      NaN  ...      NaN      NaN      NaN
166             NaN      NaN      NaN  ...      NaN      NaN      NaN
167          0.0000      NaN      NaN  ...      NaN      NaN      NaN
168             NaN      NaN      NaN  ...  83.3333      NaN      NaN
169             NaN      NaN      NaN  ...      NaN      NaN  83.3333
170             NaN      NaN      NaN  ...      NaN      NaN   0.0000
171             NaN      NaN      NaN  ...      NaN      NaN      NaN
172             NaN      NaN      NaN  ...      NaN      NaN      NaN
173             NaN      NaN      NaN  ...      NaN      NaN      NaN
174             NaN      NaN      NaN  ...  66.6667      NaN      NaN
175             NaN      NaN      NaN  ...      NaN  83.3333      NaN
176             NaN      NaN      NaN  ...      NaN      NaN      NaN
177             NaN      NaN      NaN  ...   0.0000      NaN      NaN
178             NaN      NaN      NaN  ...      NaN      NaN      NaN
179             NaN      NaN   0.0000  ...   0.0000      NaN      NaN
180          0.0000      NaN  66.6667  ...   0.0000      NaN      NaN

id_item       17549    17550    17551    17552    17553    17554    17555
id_usuario
123             NaN      NaN      NaN  83.3333      NaN      NaN      NaN
124             NaN      NaN      NaN      NaN      NaN      NaN      NaN
125             NaN   0.0000      NaN      NaN      NaN      NaN      NaN
126             NaN      NaN      NaN      NaN  16.6667      NaN      NaN
127             NaN      NaN      NaN  33.3333      NaN      NaN      NaN
128             NaN      NaN      NaN  83.3333      NaN      NaN      NaN
129             NaN      NaN      NaN      NaN      NaN      NaN      NaN
130             NaN      NaN      NaN      NaN      NaN      NaN      NaN
131             NaN      NaN      NaN   0.0000      NaN      NaN   0.0000
132             NaN   0.0000      NaN      NaN      NaN      NaN      NaN
133             NaN  16.6667      NaN      NaN      NaN      NaN      NaN
134         83.3333      NaN      NaN      NaN      NaN   0.0000      NaN
135             NaN      NaN      NaN      NaN      NaN      NaN      NaN
136             NaN      NaN   0.0000      NaN      NaN      NaN      NaN
137             NaN      NaN      NaN      NaN   0.0000      NaN      NaN
138             NaN  83.3333      NaN      NaN      NaN      NaN      NaN
139             NaN      NaN      NaN      NaN      NaN      NaN      NaN
140             NaN      NaN      NaN      NaN  16.6667      NaN      NaN
141             NaN      NaN      NaN      NaN   0.0000   0.0000      NaN
142             NaN      NaN      NaN  83.3333      NaN  66.6667      NaN
143             NaN      NaN  83.3333      NaN  66.6667  66.6667      NaN
144             NaN      NaN      NaN      NaN      NaN      NaN  66.6667
145          0.0000      NaN      NaN      NaN      NaN      NaN      NaN
146             NaN      NaN      NaN      NaN      NaN      NaN      NaN
147             NaN      NaN  83.3333      NaN      NaN      NaN  83.3333
148             NaN   0.0000      NaN      NaN      NaN      NaN      NaN
149          0.0000   0.0000      NaN   0.0000      NaN      NaN      NaN
150             NaN      NaN      NaN      NaN      NaN   0.0000      NaN
151             NaN      NaN      NaN      NaN      NaN      NaN      NaN
152         66.6667      NaN      NaN      NaN      NaN      NaN      NaN
153         66.6667      NaN      NaN      NaN      NaN      NaN      NaN
154             NaN      NaN      NaN      NaN  83.3333      NaN      NaN
155             NaN      NaN      NaN   0.0000   0.0000      NaN      NaN
156             NaN      NaN  83.3333      NaN      NaN      NaN      NaN
157         83.3333      NaN      NaN      NaN  83.3333      NaN      NaN
158             NaN   0.0000  66.6667      NaN      NaN  83.3333      NaN
159         83.3333      NaN      NaN      NaN      NaN      NaN      NaN
160             NaN      NaN      NaN      NaN  83.3333  83.3333      NaN
161             NaN      NaN      NaN      NaN      NaN      NaN      NaN
162         66.6667      NaN  66.6667      NaN      NaN      NaN   0.0000
163             NaN      NaN      NaN      NaN      NaN      NaN      NaN
164             NaN      NaN      NaN      NaN      NaN      NaN      NaN
165             NaN      NaN      NaN      NaN      NaN      NaN      NaN
166             NaN      NaN      NaN   0.0000      NaN      NaN      NaN
167             NaN      NaN      NaN      NaN      NaN      NaN      NaN
168         83.3333      NaN      NaN      NaN      NaN      NaN      NaN
169             NaN      NaN  83.3333      NaN      NaN      NaN      NaN
170             NaN      NaN      NaN      NaN      NaN   0.0000      NaN
171             NaN      NaN   0.0000      NaN      NaN      NaN      NaN
172             NaN      NaN      NaN      NaN   0.0000      NaN      NaN
173         83.3333      NaN      NaN      NaN      NaN  16.6667      NaN
174             NaN      NaN      NaN      NaN      NaN      NaN      NaN
175             NaN      NaN      NaN      NaN  50.0000      NaN      NaN
176             NaN   0.0000  66.6667      NaN      NaN      NaN      NaN
177             NaN   0.0000      NaN   0.0000   0.0000      NaN      NaN
178             NaN  16.6667      NaN      NaN      NaN      NaN      NaN
179          0.0000      NaN      NaN      NaN      NaN   0.0000      NaN
180             NaN      NaN  83.3333  83.3333      NaN      NaN      NaN

[58 rows x 139 columns]

In [40]:
# Diccionario para almacenar los vecinos de cada usuario
user_neighbors = {}

# Calcular la similitud de Pearson entre usuarios
for user in user_item_matrix.index:
    similarities = {}

    for other_user in user_item_matrix.index:
        if user != other_user:
            # Filtrar ítems calificados por ambos usuarios
            common_items = user_item_matrix.loc[[user, other_user]].dropna(axis=1)

            if len(common_items.columns) > 1:  # Necesitamos al menos 2 valores para Pearson
                # Verificar que las calificaciones no sean constantes para ambos usuarios
                if common_items.loc[user].std() > 0 and common_items.loc[other_user].std() > 0:
                    corr, _ = pearsonr(common_items.loc[user], common_items.loc[other_user])
                    similarities[other_user] = round(float(corr),6)  # Guardamos la similitud

    # Ordenar por similitud y seleccionar los 8 más cercanos
    top_neighbors = dict(sorted(similarities.items(), key=lambda x: x[1], reverse=True)[:8])
    user_neighbors[user] = top_neighbors

# Mostrar los vecinos calculados
print(user_neighbors)

{123: {124: 1.0, 134: 1.0, 169: 1.0, 165: 0.987878, 158: 0.981981, 153: 0.980196, 138: 0.970725, 130: 0.924911}, 124: {123: 1.0, 131: 1.0, 140: 1.0, 142: 1.0, 153: 1.0, 156: 1.0, 159: 1.0, 173: 0.997177}, 125: {129: 1.0, 132: 1.0, 154: 1.0, 164: 1.0, 165: 1.0, 175: 1.0, 176: 1.0, 172: 0.931381}, 126: {146: 1.0, 165: 1.0, 159: 0.98198, 177: 0.98198, 124: 0.965581, 139: 0.960769, 149: 0.917663, 138: 0.906845}, 127: {145: 1.0, 151: 1.0, 155: 1.0, 167: 1.0, 157: 0.981981, 125: 0.917663, 163: 0.825137, 124: 0.57312}, 128: {172: 1.0, 175: 0.816496, 156: 0.693375, 131: 0.57735, 178: 0.565917, 179: 0.440226, 167: 0.333333, 123: 0.124534}, 129: {125: 1.0, 133: 1.0, 139: 1.0, 146: 1.0, 165: 1.0, 159: 0.979635, 143: 0.901127, 172: 0.817057}, 130: {131: 1.0, 138: 1.0, 143: 1.0, 144: 1.0, 147: 1.0, 154: 1.0, 165: 1.0, 173: 1.0}, 131: {124: 1.0, 130: 1.0, 153: 0.958373, 128: 0.57735, 167: 0.57735, 127: 0.544331, 163: 0.333333, 143: -0.235702}, 132: {125: 1.0, 159: 1.0, 129: 0.57735, 139: 0.522233, 172: 0.457495, 144: 0.420084, 176: -0.114708, 140: -0.306185}, 133: {129: 1.0, 162: 1.0, 163: 1.0, 172: 1.0, 179: 1.0, 135: 0.866025, 171: 0.730297, 165: 0.57735}, 134: {123: 1.0, 147: 1.0, 152: 1.0, 163: 1.0, 165: 1.0, 168: 1.0, 176: 1.0, 180: 1.0}, 135: {140: 1.0, 144: 1.0, 159: 1.0, 160: 1.0, 172: 1.0, 164: 0.987878, 165: 0.981981, 176: 0.98198}, 136: {176: 1.0, 160: 0.981981, 175: 0.944911, 174: 0.53033, 146: 0.514496, 158: 0.5, 177: 0.333335, 123: 0.201737}, 137: {138: 1.0, 159: 1.0, 169: 1.0, 126: 0.5, 135: 0.333333, 124: 0.311805, 125: 0.070534, 131: -0.408248}, 138: {130: 1.0, 137: 1.0, 153: 1.0, 160: 1.0, 168: 1.0, 173: 1.0, 135: 0.976265, 123: 0.970725}, 139: {129: 1.0, 140: 1.0, 159: 1.0, 160: 1.0, 162: 1.0, 164: 1.0, 175: 1.0, 126: 0.960769}, 140: {124: 1.0, 135: 1.0, 139: 1.0, 152: 1.0, 164: 1.0, 168: 1.0, 176: 1.0, 161: 0.962251}, 141: {150: 1.0, 170: 1.0, 173: 1.0, 126: 0.565917, 156: 0.522233, 152: 0.333333, 151: -0.294753, 179: -0.333333}, 142: {124: 1.0, 163: 1.0, 180: 1.0, 168: 0.998625, 162: 0.974244, 164: 0.907842, 169: 0.866026, 152: 0.693376}, 143: {130: 1.0, 154: 0.962251, 157: 0.94281, 129: 0.901127, 176: 0.814756, 180: 0.802955, 167: 0.57735, 139: 0.500001}, 144: {130: 1.0, 135: 1.0, 146: 1.0, 152: 1.0, 153: 1.0, 174: 1.0, 176: 1.0, 138: 0.860663}, 145: {127: 1.0, 144: 0.333333, 129: -1.0, 134: -1.0}, 146: {126: 1.0, 129: 1.0, 144: 1.0, 160: 1.0, 163: 1.0, 165: 1.0, 169: 1.0, 175: 1.0}, 147: {130: 1.0, 134: 1.0, 165: 1.0, 180: 0.612372, 146: 0.589768}, 148: {124: 0.816497, 160: 0.544331, 142: 2e-06, 164: -0.5}, 149: {177: 1.0, 126: 0.917663, 124: 0.866025, 176: 0.866025, 151: 0.515152, 164: 0.5, 158: 0.374012, 173: 0.311804}, 150: {141: 1.0, 173: 0.5, 169: -0.070534, 174: -0.258199, 135: -0.292769, 172: -0.309427, 158: -0.375, 138: -0.440226}, 151: {127: 1.0, 154: 1.0, 173: 1.0, 174: 1.0, 177: 1.0, 180: 1.0, 146: 0.998273, 124: 0.917663}, 152: {134: 1.0, 140: 1.0, 144: 1.0, 169: 1.0, 171: 1.0, 156: 0.980196, 174: 0.94281, 124: 0.942809}, 153: {124: 1.0, 138: 1.0, 144: 1.0, 159: 1.0, 162: 1.0, 173: 1.0, 123: 0.980196, 131: 0.958373}, 154: {125: 1.0, 130: 1.0, 151: 1.0, 157: 1.0, 158: 1.0, 171: 1.0, 180: 1.0, 143: 0.962251}, 155: {127: 1.0, 176: 0.866026, 157: 0.25, 173: -0.493742, 142: -1.0, 164: -1.0}, 156: {124: 1.0, 169: 1.0, 175: 1.0, 152: 0.980196, 126: 0.825137, 128: 0.693375, 141: 0.522233, 174: 0.432789}, 157: {154: 1.0, 158: 1.0, 163: 1.0, 127: 0.981981, 143: 0.94281, 162: 0.931381, 164: 0.917663, 124: 0.889946}, 158: {154: 1.0, 157: 1.0, 164: 1.0, 165: 1.0, 176: 1.0, 177: 1.0, 123: 0.981981, 139: 0.960769}, 159: {124: 1.0, 132: 1.0, 135: 1.0, 137: 1.0, 139: 1.0, 153: 1.0, 160: 1.0, 163: 1.0}, 160: {135: 1.0, 138: 1.0, 139: 1.0, 146: 1.0, 159: 1.0, 173: 1.0, 136: 0.981981, 153: 0.958373}, 161: {140: 0.962251, 160: 0.333333, 149: 0.0, 144: -0.03637, 136: -0.301512, 130: -0.5, 175: -0.5, 126: -1.0}, 162: {133: 1.0, 139: 1.0, 153: 1.0, 169: 1.0, 168: 0.978839, 142: 0.974244, 157: 0.931381, 146: 0.8073}, 163: {133: 1.0, 134: 1.0, 142: 1.0, 146: 1.0, 157: 1.0, 159: 1.0, 164: 1.0, 172: 1.0}, 164: {125: 1.0, 139: 1.0, 140: 1.0, 158: 1.0, 159: 1.0, 163: 1.0, 165: 1.0, 135: 0.987878}, 165: {125: 1.0, 126: 1.0, 129: 1.0, 130: 1.0, 134: 1.0, 146: 1.0, 147: 1.0, 158: 1.0}, 166: {}, 167: {127: 1.0, 172: 1.0, 173: 1.0, 176: 1.0, 180: 1.0, 124: 0.7, 131: 0.57735, 143: 0.57735}, 168: {134: 1.0, 138: 1.0, 140: 1.0, 169: 1.0, 142: 0.998625, 162: 0.978839, 146: 0.95615, 126: 0.879637}, 169: {123: 1.0, 137: 1.0, 146: 1.0, 152: 1.0, 156: 1.0, 159: 1.0, 162: 1.0, 168: 1.0}, 170: {141: 1.0, 158: 0.581391, 134: 0.57735, 131: -0.333333, 129: -0.5, 180: -0.5, 151: -0.567282, 153: -0.980196}, 171: {152: 1.0, 154: 1.0, 165: 1.0, 174: 1.0, 179: 1.0, 139: 0.929981, 135: 0.866025, 146: 0.816496}, 172: {128: 1.0, 133: 1.0, 135: 1.0, 163: 1.0, 165: 1.0, 167: 1.0, 176: 1.0, 180: 0.987878}, 173: {130: 1.0, 138: 1.0, 141: 1.0, 151: 1.0, 153: 1.0, 160: 1.0, 167: 1.0, 124: 0.997177}, 174: {144: 1.0, 151: 1.0, 171: 1.0, 175: 1.0, 172: 0.978281, 176: 0.944912, 152: 0.94281, 180: 0.904533}, 175: {125: 1.0, 130: 1.0, 139: 1.0, 146: 1.0, 156: 1.0, 174: 1.0, 136: 0.944911, 128: 0.816496}, 176: {125: 1.0, 130: 1.0, 134: 1.0, 136: 1.0, 140: 1.0, 144: 1.0, 146: 1.0, 158: 1.0}, 177: {146: 1.0, 149: 1.0, 151: 1.0, 158: 1.0, 126: 0.98198, 127: 0.5, 136: 0.333335, 129: 0.327328}, 178: {138: 0.693375, 128: 0.565917, 158: 0.102061, 133: -0.30151, 126: -0.443607, 149: -0.5, 177: -0.5, 169: -0.570352}, 179: {133: 1.0, 171: 1.0, 175: 0.5, 176: 0.5, 173: 0.442719, 128: 0.440226, 126: 0.145096, 172: -0.140028}, 180: {130: 1.0, 134: 1.0, 142: 1.0, 151: 1.0, 154: 1.0, 167: 1.0, 172: 0.987878, 174: 0.904533}}

In [41]:
# Añadir la columna 'vecinos' con los diccionarios de vecinos
# Guardar el diccionario como un objeto 'dict' en el DataFrame
usuarios['vecinos'] = usuarios['id_usuario'].apply(lambda user: user_neighbors.get(user, {}))


df_final = pd.merge(usuarios_datos, usuarios[['id_usuario', 'vecinos']], on='id_usuario', how='left')

# Mostrar el DataFrame con la nueva columna 'vecinos'
df_final.head()

,id_usuario,nombre_usuario,edad,sexo,id_ocupacion,hijos,edad_hijo_menor,edad_hijo_mayor,ocupacion,tipos_usuario,vecinos
0,123,Usuario_123,37,F,3,1,3,8,Técnicos y profesionales científicos e intelec...,tipo5,"{124: 1.0, 134: 1.0, 169: 1.0, 165: 0.987878, ..."
1,124,Usuario_124,42,M,8,1,3,8,Artesanos y trabajadores cualificados de indus...,tipo5,"{123: 1.0, 131: 1.0, 140: 1.0, 142: 1.0, 153: ..."
2,125,Usuario_125,35,F,10,0,0,0,Trabajadores no cualificados,tipo2,"{129: 1.0, 132: 1.0, 154: 1.0, 164: 1.0, 165: ..."
3,126,Usuario_126,50,M,4,0,0,0,Técnicos y profesionales de apoyo,tipo1,"{146: 1.0, 165: 1.0, 159: 0.98198, 177: 0.9819..."
4,127,Usuario_127,66,F,11,1,35,44,Inactivo o desocupado,tipo4,"{145: 1.0, 151: 1.0, 155: 1.0, 167: 1.0, 157: ..."

In [42]:
df_final.to_csv("./data/info_usuarios.csv", index=False, encoding="utf-8")